.scontainer {
    border-image: none; border-style: solid; border-width: 1px;	
	height:35px; font-size:1px;
}
.sbar { border-bottom: 3px solid gray; height: 17px; margin: 0 24px; }
.shandle { 
	background-color: lightgray;
    border: 1px solid #818181;
    border-radius: 10px;
    color: gray;
    cursor: pointer;
    height: 20px;
    position: relative;
    top: 6px;
    width: 20px;
}

.accordion-content .lbl{
	width:180px;
	display:inline-block;		
}

.accordion-content .txtbx{
	width:70px;
	border:1px solid #A1A1A1;
}

.preview{
	background-color: #5E9923;
	border: 1px solid black;
	color: white;
	/**/display: table-cell;
	vertical-align: middle;
	text-align: center;
	font-size: 30px;	
	overflow:hidden;	
	width: 270px;
	height: 38px;
	cursor:pointer;
}



/* circle input */
.circlecontainer {
	background: none repeat scroll 0 0 white;
    border-image: none;
    border-style: solid;
    border-width: 2px;	
	height:100px;
	width:100px;	
	border-radius: 50%;
	cursor:default;
}

#dotted{
	border-width: 2px;	
	height:100px;
	width:100px;
	border-radius: 50%;
}

#dial{	
	height: 2px;
    margin: 49px 0 0 5px;  	
    display: block;   
    width: 90px;
}

#dial_0{	font-size: 9px; left: 88px;  position: inherit;  top: 41px; }
#dial_90{	font-size: 9px; left: 43px;  position: inherit;  top: 1px; }
#dial_180{	font-size: 9px; left: 1px;  position: inherit;  top: 41px; }
#dial_270{	font-size: 9px; left: 40px;  position: inherit;  top: 87px; }

#dial_l{
	background-color:red;
	width:50%;
	height:2px;
}

#r_pt{
    height: 1px;
    margin-left: 50px;
    margin-top: 50px;
    width: 1px;
    position: absolute;
}

#r_center{
	height: 1px;
    margin: 100px 0 0 100px;
    position: absolute;
    width: 1px;
}

/* code */
#wrapper {
	border:0px;
	background:none;
	/*width:980px;*/
}

#previewcont{
	text-align:center;
	border:0px solid #DDDDDD;
	height:260px;
	width:540px;
	display:table-cell;
	vertical-align:middle;
	background-color:black;
	width:1%;
	border-radius: 5px 5px 5px 5px;
}

#helpimg{
	margin-top:10px;
}

div.codenametab {
	margin-top:15px;
}

div.codenametab span {
	background-color: white;
	border-left: 1px solid #888888;
	border-right: 1px solid #888888;
	border-top: 1px solid #888888;
	cursor: pointer;
	padding: 4px 20px 1px;
}
div.codenametab span.hide {
	background-color: Silver;
	border-bottom: 1px solid #DDDDDD;
}

.code {
	background-color: white;
	border: 1px solid #888888;
	display: block;
	font: 14px monospace;
	height: 320px;
	overflow: auto;
	padding: 6px 0 6px 12px;
}				
.code-shape{
	margin-left:16px;
}

.code-shape div{
	margin-left:16px;
} 

.codetab span.b {
    color: blue;
}
.codetab span.s {
    color: #858585;
}
.codetab span.r {
    color: #BD0000;
}
.codetab span.cm, .codetab span.g {
    color: #46A105;
}

div.tab{
	height:40px;
}

.tab span{
	background-color:#EBEBEB;
	cursor:pointer;
	cursor:black;
	border-color: gray;
	border-image: none;
	border-style: solid;
	border-width: 0 1px 1px;
	height: 14px;
	margin: 0 3px 3px;
	padding: 10px 7px 7px;
}

.tab span.disable_tab{
	border:none;
	color:gray;
	background-color:white;
	padding: 9px 7px 7px;
}

div.tooldesc { 
	border: 1px solid #888888;
    color: #555555;
    line-height: 18px;
    margin: 0px 0px 10px 0px;
    padding: 9px 18px;
    text-align: justify;	
}
div.tooldesc b {color:black }


#accordion-container {
	font-size: 13px; 
	box-shadow:0 0 6px 2px rgba(0, 0, 0, 0.3);
	margin-left:10px;
}

.accordion-header {
	font-size: 13px;
	line-height:1.3em
	background:#4DA0CC; 
	text-transform: capitalize;
	padding: 5px 9px;  
	border: 1px solid #cccccc;
	cursor: pointer;
	color: white; 
	margin:0px;
}

.active-header, .active-header:hover {  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAADdcAAA3XAUIom3gAAAAHdElNRQfgCBEWABuQi9w3AAAAZklEQVQoz7XRTQ5AMBBA4albOI2Im6DE/w2dRhxjnoWIorri6276VjMGCYvk6yCT9DbBfQ2Kkrsz97tlpxS+oOOklPdg4EqxbjDypFRHMOGn1IjQ806xhlXiwJ4WQypJIJjN/8faAKADtLTiQa1YAAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDE2LTA4LTE3VDIyOjAwOjI3KzAyOjAw18+rYgAAACV0RVh0ZGF0ZTptb2RpZnkAMjAxNi0wOC0xN1QyMjowMDoyNyswMjowMKaSE94AAAAZdEVYdFNvZnR3YXJlAHd3dy5pbmtzY2FwZS5vcmeb7jwaAAAAAElFTkSuQmCC') no-repeat scroll 98% 50% #4DA0CC;  }
.inactive-header, .inactive-header:hover { background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAADdcAAA3XAUIom3gAAAAHdElNRQfgCBEWBQ0ZKJ0jAAAAZ0lEQVQoz7XRMQ6CQBQG4VnjJbwLHd6DhE4QPaLhLoZj7FgZWNndhviX75vuBanvxNHgzJWm4nNw4VIJ3ni3vGiH+CxyL4j4KPE3wCnPa4BjjrcBDntOA7wZU5bw84uWyGt7CP9/1gfKobYg46RZUQAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAxNi0wOC0xN1QyMjowNToxMyswMjowMEsmQ9YAAAAldEVYdGRhdGU6bW9kaWZ5ADIwMTYtMDgtMTdUMjI6MDU6MTMrMDI6MDA6e/tqAAAAGXRFWHRTb2Z0d2FyZQB3d3cuaW5rc2NhcGUub3Jnm+48GgAAAABJRU5ErkJggg==') no-repeat scroll 98% 50% #4DA0CC; } 

.accordion-content { 
	padding: 9px 0px 9px 17px;;
	background: #E3F1F7;
	border: 1px solid #cccccc;
	border-top: 0;  
}

#helpimg{
	/*background-image: url('http://dev-angrytools.com/develop/tools/android-button/buttonhelpBG.png');*/
	background-repeat: repeat-x;	
	border:1px solid grey;
}

#helpimg div{ 
	/*background-image: url('http://dev-angrytools.com/develop/tools/android-button/buttonhelp.png');*/
	background-repeat: no-repeat;
	width:100%;
	height:651px;
} 

 